[Desktop Entry]
Type=Application
Name=Manjaro Application Utility
Comment=Manjaro Application Utility
Categories=Utility;
Exec=/usr/bin/manjaro-application-utility
Icon=system-software-install
