[Desktop Entry]
Version=0.5
Type=Application
Name=OCRFeeder
Name[ca]=OCRFeeder
Name[ca@valencia]=OCRFeeder
Name[cs]=OCRFeeder
Name[da]=OCRFeeder
Name[de]=OCRFeeder
Name[el]=OCRFeeder
Name[en_GB]=OCRFeeder
Name[es]=OCRFeeder
Name[fr]=OCRFeeder
Name[gl]=OCRFeeder
Name[he]=OCRFeeder
Name[hu]=OCRFeeder
Name[it]=OCRFeeder
Name[nb]=OCRFeeder
Name[pl]=OCRFeeder
Name[pt_BR]=OCRFeeder
Name[ro]=OCRFeeder
Name[ru]=OCRFeeder
Name[sl]=OCRFeeder
Name[sr]=ОЦР доводник
Name[sr@latin]=OCR dovodnik
Name[sv]=OCRFeeder
Name[uk]=OCRFeeder
Name[zh_CN]=OCRFeeder
Name[zh_HK]=OCRFeeder
Name[zh_TW]=OCRFeeder
Comment=The complete OCR suite.
Comment[ca]=El paquet OCR complet.
Comment[ca@valencia]=El paquet OCR complet.
Comment[cs]=Kompletní aplikace pro OCR.
Comment[da]=Den komplette OCR-pakke.
Comment[de]=Die gesamte OCR-Suite.
Comment[el]=Η πλήρης σουΐτα του OCR.
Comment[en_GB]=The complete OCR suite.
Comment[es]=La aplicación completa de OCR
Comment[fr]=La suite ROC complète.
Comment[gl]=A suite de OCR completa.
Comment[he]=החבילה המושלמת לזיהי OCR.
Comment[hu]=A teljes OCR készlet.
Comment[it]=La suite OCR completa.
Comment[nb]=Komplett OCR-suite.
Comment[pl]=Pełny zestaw narzędzi do OCR.
Comment[pt]=A aplicação completa de OCR
Comment[pt_BR]=Uma suíte de OCR completa.
Comment[ro]=Suită OCR completă.
Comment[ru]=Полнофункциональное приложение для оптического распознавания символов.
Comment[sl]=Celosten paket za optično prepoznavanje.
Comment[sr]=Потпун ОЦР комплет.
Comment[sr@latin]=Potpun OCR komplet.
Comment[sv]=Den kompletta OCR-sviten.
Comment[uk]=Повноцінний набір OCR.
Comment[zh_CN]=完整的 OCR 解决方案。
Comment[zh_HK]=完整的 OCR 套裝軟件。
Comment[zh_TW]=完整的 OCR 套裝軟體。
TryExec=ocrfeeder
Exec=ocrfeeder
Icon=ocrfeeder
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;
Categories=Application;Office;
